build/

data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
data/model/*.engine

data/GSHHS_shp/c/
data/GSHHS_shp/h/
data/GSHHS_shp/i/
data/GSHHS_shp/l/

miniconda3/
.claude/

.DS_Store
*.swp
*.bak*
*.bak-*
*.fused
*.tif
*.SAFE
*.backup/
*.serve/